<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Snake</title>
  </head>
  <body>
    <canvas id="game_canvas" width="400" height="400" style="border:1px solid; background-color:#c8c8c8;"></canvas>
    <button id="start">Restart</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        const canvas = document.getElementById("game_canvas");
        const ctx = canvas.getContext("2d");
        w = canvas.getAttribute("width");
        h = canvas.getAttribute("height");
        ctx.clearRect(0, 0, w, h);
        let socket = io();
        socket.on('game update', (data) => {
            // redraw the game whenever it gets changed
            ctx.clearRect(0, 0, w, h);
            const snake = data.snake;
            const food = data.food;
            const game_w = data.width;
            const game_h = data.height;
            const x_scale = w / game_w;
            const y_scale = h / game_h;
            // draw the snake body
            ctx.fillStyle = "#7a7a7a";
            for (const pos of snake) {
                ctx.fillRect(pos[0] * x_scale, pos[1] * y_scale, x_scale, y_scale);
            }
            // draw the food
            ctx.fillStyle = "#d61b1b";
            ctx.fillRect(food[0] * x_scale, food[1] * y_scale, x_scale, y_scale);
        });
        document.addEventListener("keydown", (e) => {
            // send user input to server
            switch (e.keyCode) {
                case 37: //left arrow key
                case 65: //a
                    socket.emit("user input", "left");
                    break;
                case 38: //Up arrow key
                case 87: //w
                    socket.emit("user input", "up");
                    break;
                case 39: //right arrow key
                case 68: //d
                    socket.emit("user input", "right");
                    break;
                case 40: //down arrow key
                case 83: //s
                    socket.emit("user input", "down");
                    break;
            }
        });
        const start_button = document.getElementById("start");
        start_button.addEventListener("click", () => {
            socket.emit("start");
        });
    </script>
  </body>
</html>


